body {
	display: flex;
}
table {
	
	width: 600px;
}
td {
	border: 6px solid black;
	padding: 45px;
}
.white {
	background-color: white;
}
.yellow {
    background: yellow;
}

.black {
    background: black;
}

.blue {
    background: blue;
}

.red {
    background: red;
}